@import "src/style/palette";
@import "src/style/responsive";

.levelContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;

  .questionContainer {
    flex: 1;
  }

  .solutionContainer {
    flex: 1;
    padding: 0 20px;

    .feedback {
      font-weight: bold;
      padding-top: 15px;
      text-align: center;
    }
  }

  .answerContainer {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;

    .answerCounter {
      padding-top: 20px;
      @include resp-font-size(5vw);

      & > * {
        margin-right: 8px;
      }
    }
  }

  .correct {
    color: $green;
  }
  .wrong {
    color: $red;
  }
}
